body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgb(210, 210, 210);
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color:rgb(255, 255, 255);
    padding: 8px 16px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li a.active {
    background-color: #3f72ff;
    color: white;
}
  
  li a:hover:not(.active) {
    background-color: rgb(146, 146, 146);
    color: white;
}

